.wrapper {
  padding: 16px;
}

ion-card-content {
  display: grid;
  gap: 12px;
  justify-items: center;
}

ion-card-content p {
  margin: 0;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 640px;
    margin: 0 auto;
  }
}
