<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Invite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <ion-card *ngIf="isRedirecting">
      <ion-card-content>
        <ion-spinner></ion-spinner>
        <p>Otwieram ekran głosowania...</p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="!isRedirecting && errorMessage">
      <ion-card-header>
        <ion-card-title>Niepoprawny link invite</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ errorMessage }}</p>
        <ion-button expand="block" routerLink="/create">Przejdź do Create</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
