ion-menu-button {
  color: var(--ion-color-primary);
}

#upload-card {
  margin: 16px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
}

.upload-list {
  margin-top: 16px;
}

.item-actions {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.error {
  color: var(--ion-color-danger);
}
